# ignores the following windows executable needed for counting the lines of code
/cloc.exe

# ignores the following files, because they are only created and needed during execution
/quiz.txt
/write_function.py
/test_function.py
/test_function.cpython-39.pyc
/write_function.cpython-39.pyc
